.vote-left-div {
    width: 50%;
    display: inline-block;
    height: 100vh;
    background-color: #ecf0f1;
}

.vote-right-div {
    width: 50%;
    display: inline-block;
    height: 100vh;
    background-color: #f7f7f7;
}

.picture-frame {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    height: 40%;
    width: 40%;
    display: flex;
    margin: 0 auto;
    border-radius: 30%;
	background-clip: content-box, border-box;
    cursor: pointer;
	box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.5);
}

.left-picture-frame {
    border: 11px solid #ffffff4d;
}

.right-picture-frame {
    border: 11px solid #78a4af33;
}

.left-picture-frame:hover {
    border-color: #c6d2d65c;
 }
 .right-picture-frame:hover {
    border-color: #637b815c;
 }
 .picture-frame:active {
    border-color: #21bd5fee;
 }


